@use '../../styles/variables' as *;
.tag {
    display: inline-flex;
    align-items: center;
    gap: $space-2;
    background-color: $color-lav-pale;
    padding: $space-2 $space-4;
    border-radius: $radius-full;
    width: fit-content;
    &__circle {
        width: 10px;
        height: 10px;
        background-color: $color-lav-light;
        border-radius: $radius-full;
        flex-shrink: 0;
    }
    &__text {
        font-family: $font-body;
        font-size: $fs-md;
        font-weight: $fw-semibold;
        color: $color-lav-dark;
        line-height: 1;
    }
}