@use "../../styles/variables" as *;

.detail-position-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-4;
  width: fit-content;
  margin: 0 auto;

  padding: $space-3 $space-4;

  background: rgba($color-white, 0.04);

  border: 1px solid rgba($color-white, 0.08);

  border-radius: $radius-xl;

  // DESKTOP

  @media (min-width: $bp-desktop) {
    gap: $space-6;
  }
}
