@use "../../styles/variables" as *;

.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 8rem;

  padding-inline: $space-4;

  background-color: $color-white;

  border-top: $border-default;

  display: flex;
  align-items: center;
}

.nav-bar__list {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style: none;
}

.nav-bar__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar__link {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 8rem;
  height: 3.6rem;

  padding-inline: $space-3;

  border-radius: $radius-md;

  font-size: $fs-md;
  font-weight: $fw-regular;

  color: $color-faint;

  text-decoration: none;

  transition: $transition-base;
}

.nav-bar__link--active {
  background-color: $color-bg;

  color: $color-grape;
  font-weight: $fw-medium;
}

@media (min-width: $bp-desktop) {
  .nav-bar {
    top: 0;
    bottom: auto;

    border-top: none;
    border-bottom: $border-default;
  }
}


